<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="JiraTinyBuddy"
            id="JiraTinyBuddy">
      </category>
      <view
            name="JiraTinyBuddy View"
            icon="icons/sample.gif"
            category="JiraTinyBuddy"
            class="jiratinybuddy.views.JiraTinyBuddyView"
            id="jiratinybuddy.views.JiraTinyBuddyView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="jiratinybuddy.views.JiraTinyBuddyView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
